<%= form_for @list do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">

  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>